$full-height-compat: 100vh;
$full-height: calc(var(--vh, 1vh) * 100);

$full-width-compat: 100vw;
$full-width: calc(var(--vw, 1vw) * 100);

@function height($value) {
  $height: calc(var(--vh, 1vh) * #{$value});
  @return $height;
}
//noinspection CssOverwrittenProperties
@mixin full-height($value) {
  height: $value;
  height: calc(var(--vh, #{$value}) * 100);
}
//noinspection CssOverwrittenProperties
@mixin full-height-max($value) {
  max-height: $value;
  max-height: calc(var(--vh, #{$value}) * 100);
}
//noinspection CssOverwrittenProperties
@mixin full-height-min($value) {
  min-height: $value;
  min-height: calc(var(--vh, #{$value}) * 100);
}

//noinspection CssOverwrittenProperties
%full-height {
  height: $full-height-compat;
  height: $full-height;
}
//noinspection CssOverwrittenProperties
%full-height-max {
  max-height: $full-height-compat;
  max-height: $full-height;
}
//noinspection CssOverwrittenProperties
%full-height-min {
  min-height: $full-height-compat;
  min-height: $full-height;
}

@function width($value) {
  $width: calc(var(--vw, 1vw) * #{$value});
  @return $width;
}
//noinspection CssOverwrittenProperties
@mixin full-width($value) {
  width: $value;
  width: calc(var(--vw, #{$value}) * 100);
}
//noinspection CssOverwrittenProperties
@mixin full-width-max($value) {
  max-width: $value;
  max-width: calc(var(--vw, #{$value}) * 100);
}
//noinspection CssOverwrittenProperties
@mixin full-width-min($value) {
  min-width: $value;
  min-width: calc(var(--vw, #{$value}) * 100);
}

//noinspection CssOverwrittenProperties
%full-width {
  width: $full-width-compat;
  width: $full-width;
}
//noinspection CssOverwrittenProperties
%full-width-max {
  max-width: $full-width-compat;
  max-width: $full-width;
}
//noinspection CssOverwrittenProperties
%full-width-min {
  min-width: $full-width-compat;
  min-width: $full-width;
}
