$black: #000000;
$black-translucid-1: rgba(0, 0, 0, 0.1);
$black-translucid-2: rgba(0, 0, 0, 0.2);
$black-translucid-3: rgba(0, 0, 0, 0.3);
$black-translucid-4: rgba(0, 0, 0, 0.4);
$black-translucid-5: rgba(0, 0, 0, 0.5);
$black-translucid-6: rgba(0, 0, 0, 0.6);
$black-translucid-7: rgba(0, 0, 0, 0.7);
$black-translucid-8: rgba(0, 0, 0, 0.8);
$black-translucid-0: rgba(0, 0, 0, 1);
$default-black: $black-translucid-0;
$black-button: rgba(0, 0, 0, 0.5);
