$pink : #d24077;

$pink-translucid-1 : rgba($pink, 0.1);
$pink-translucid-2 : rgba($pink, 0.2);
$pink-translucid-3 : rgba($pink, 0.3);
$pink-translucid-4 : rgba($pink, 0.4);
$pink-translucid-5 : rgba($pink, 0.5);
$pink-translucid-6 : rgba($pink, 0.6);
$pink-translucid-7 : rgba($pink, 0.7);
$pink-translucid-8 : rgba($pink, 0.8);
$pink-translucid-9 : rgba($pink, 0.9);

$light-pink: #D882A1;
$light-pink-translucid-1:rgba($light-pink, 0.1);
$light-pink-translucid-3:rgba($light-pink, 0.3);
$light-pink-translucid-5:rgba($light-pink, 0.5);
$light-pink-translucid-7:rgba($light-pink, 0.7);

$dark-pink: #b01e45;
$dark-pink-1: darken($dark-pink, 10%);
$dark-pink-translucid: rgba(#b01e45, 0.8);
$dark-pink-translucid-3: rgba($dark-pink, 0.3);
$dark-pink-translucid-5: rgba($dark-pink, 0.5);
$dark-pink-translucid-9: rgba($dark-pink, 0.9);

$soft-pink: #ea6868;

$dark-pink-tra:#b01e45;
